html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    script (type="text/javascript")
    
    //- block scripts
    //-   script(src='../seats.js')
    <link rel="stylesheet" href="/css/main.css"/>
  body
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js')
    script
      include ../js/seats.js
    //- script(src=https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
    //- script
      //- include ../js/axios.js
      
    button.btn.btn-primary(type='submit') Бронювати 
